<ul>
    <li>Выведение из запоя</li>
    <li>Никотиновая Зависимость</li>
    <li>Игромания</li>
    <li>Контакты</li>
</ul>
<nav>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</nav>