<ul>
    <li>
        <img src="/test.jpg" alt="test">
        <h2>Выведение из запоя</h2>
        <p>Запой — это патологическое состояние, характеризующееся продолжительным (более суток) употреблением алкогольных напитков, сопровождающееся сильной алкогольной интоксикацией. Запойные состояния относятся к тяжелым формам алкогольной зависимости. Ведущий синдром запоя – сильное, чаще всего непреодолимое влечение к алкогольным напиткам.</p>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>